@charset "utf-8";

.table-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  -webkit-overflow-scrolling: touch;
  padding: 100px;
  width: 250%;
  height: auto;
}

table {
  background: linear-gradient(to bottom, rgb(8, 120, 120), rgb(129, 71, 4));
  border-collapse: collapse;
  width: 200%;
  height: auto;
  text-align: center;
  font-size: 14px;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
  background-color: rgb(228, 156, 0);
}

th,
td {
  padding: 8px;
  border: 1px solid black;

  text-align: center;
  padding: 8px;
}

table td[rowspan="2"] {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

thead tr {
  background-color: #008cba;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #3a8647;
}

@media only screen and (max-width: 768px) {
  .table-container {
    padding: 0px;
  }
  table {
    margin: auto;
  }

  /* 4. Additional effects */

  td:first-child {
    font-weight: bold;
  }
}
